.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.node {
    z-index: 1000;
}

.link {
    z-index: 10;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.accordion-title {
    line-height: 3.25em;
}

.btn-square {
    width: 5em;
    height: 5em;
    margin-top: .6em !important;
}

.entry-editor .row {
    margin-top: .5em;
}

.modal-dialog {
    min-width: 70% !important;
}

.modal-open {
    padding-right: 0 !important;
}

.App-link {
    color: #61dafb;
}

.toast-body {
	padding-left: 8px;
}

.component-editor-entry-text, .component-editor-input-controls {
    padding: 1rem;
}

.ent, .pos {
    display: flex;
}

.ents, .pos-tag {
    display: flex;
    flex-direction: column;
}

.ent-text-title, .pos-text-title {
    width: 6rem;
}

.ent-text, .pos-text {
    text-indent: .25em;

}