html, body, #root {
    height: 100%;
}

.App {
    min-height: calc(100% - 48px) !important;
    height: auto;
    padding-bottom: 16px;
    /* height: auto; /* cross-browser */
    /* height: calc(100% - 48px) !important; /* cross-browser */
}

body {
    margin: 0 10rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dark-igc-gray-bg, .dark-igc-gray-text {
    background-color: #8190a5;
}

.dark-igc-gray-bg:hover {
    background-color: #647489;
}

.dark-igc-gray-txt {
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #8190a5;
}

.dark-igc-gray-txt:hover {
    color: #647489;
}

.container-fluid, .navbar {
    background-color: rgb(229, 233, 242) !important;
}

@media (max-width: 1200px) {
    body {
        margin: 0 !important;
    }
}
