.help-text {
    visibility: hidden;
}

.question-mark:hover + .help-text {
    visibility: visible;
}

#textContentForm label {
    padding-top: 0 !important;
    padding-left: 1px !important;
}

#statement-textarea {
    min-height: 38px;   /* One line with padding & border */
}

.down-1 {
    padding-top: 2px !important;
}

#negated-toggle .custom-control-input:checked ~ .custom-control-label::before {
    border-color: #e2212a !important;
    background-color: #e2212a !important;
}



.node-title-empty {
    color: #495057 !important;
}

.node-card, .node-card-empty {
    width: 12rem;
    height: 12rem;
    border-radius: 6rem !important;
}

.node-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.06) !important;
}

.node-card:active {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.node-card-empty {
    background-color: rgba(0, 0, 0, 0.03) !important;
}
