.node circle {
  stroke: black;  /* default */
  stroke-width: 2px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: black;  /* default */
  stroke-width: 2px;
}

.tooltip-inner {
  background: white;
}

.card-title {
  color: black;
}

p.component {
  margin-bottom: 0;
}

.tooltipHover {
  pointer-events: auto !important;
}

.treeContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
