.toggle-header {
    padding: 3px 0 3px 10px !important;
    border: 0 !important;
}

.toggle-header:hover {
    cursor: pointer;
}

.toggle-header-text {
    color: #495057 !important;
}

.toggle-divider {
    width: calc(100% - 4px) !important;
    margin: 0 auto 0 auto !important;
    padding: 0 !important;
}

/* Style the accordion chevron icon */
.accordion-icon {
    transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active (with an alias to explicitly state the direction) */
.rotate, .rotate-down {
    transform: rotate(90deg);
}

/* Rotate icon so that it points up (default: right) */
.rotate-up {
    transform: rotate(-90deg);
}

/* Rotate icon so that it points left (default: right) */
.rotate-left {
    transform: rotate(180deg);
}
