.accordion__section {
    display: flex;
    flex-direction: column;
    background-color: rgb(229, 233, 242) !important;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: rgb(229, 233, 242) !important;
    color: #444;
    cursor: pointer;
    padding: 18px;
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    transition: background-color 0.6s ease;
}

.accordion__actionbar {
    background-color: rgb(229, 233, 242) !important;
    margin: .25rem 1rem .75rem 2.5rem;
    display: flex;
}

.accordion__button {
    margin-right: 1rem;
    display: flex;
}

.accordion__button button {
    width: 12rem;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
    background-color: #ccc;
}

/* Style the accordion content title */
.accordion__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 14px;
    text-indent: 10px;
}

/* Style the accordion chevron icon */
.accordion__icon {
    transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
    transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
    overflow: hidden;
    transition: max-height 0.6s ease;
    margin: 1rem 1rem .25rem 2.5rem;
}

/* Style the accordion content text */
.accordion__text {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding: 18px;
}

.new-entry-text-area {
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
    resize: none;
}
